[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kexi/Handler

GenericName=Migration Plugin
GenericName[ca]=Connector de migració
GenericName[ca@valencia]=Connector de migració
GenericName[de]=Migrationsmodul
GenericName[es]=Complemento de migración
GenericName[fi]=Siirtoliitännäinen
GenericName[fr]=Module externe de migration
GenericName[gl]=Complemento de migración
GenericName[it]=Estensione di migrazione
GenericName[nl]=Migratieplug-in
GenericName[pl]=Wtyczka migracji
GenericName[pt]='Plugin' de Migração
GenericName[pt_BR]=Plugin de Migração
GenericName[sk]=Modul pre migráciu
GenericName[sv]=Övergångsinsticksprogram
GenericName[uk]=Додаток міграції
GenericName[x-test]=xxMigration Pluginxx
Name=Migration Plugin
Name[ca]=Connector de migració
Name[ca@valencia]=Connector de migració
Name[de]=Migrationsmodul
Name[es]=Complemento de migración
Name[fi]=Siirtoliitännäinen
Name[fr]=Module externe de migration
Name[gl]=Complemento de migración
Name[it]=Estensione di migrazione
Name[nl]=Migratieplug-in
Name[pl]=Wtyczka migracji
Name[pt]='Plugin' de Migração
Name[pt_BR]=Plugin de Migração
Name[sk]=Modul pre migráciu
Name[sv]=Övergångsinsticksprogram
Name[uk]=Додаток міграції
Name[x-test]=xxMigration Pluginxx
X-KDE-Library=kexihandler_migration
X-KDE-ParentApp=kexi
X-Kexi-PartVersion=2
X-Kexi-Class=org.kexi-project.migration
X-Kexi-NoObject=true
