[Desktop Entry]
Name=Migration
Comment=Kexi plugin for handling database migration
Type=Service
Icon=database-import
Encoding=UTF-8

X-KDE-ServiceTypes=Kexi/Handler

X-KDE-Library=kexi_migrationplugin
X-KDE-ServiceTypes=Kexi/Internal
X-KDE-PluginInfo-Author=Kexi Team
X-KDE-PluginInfo-Email=kexi@kde.org
X-KDE-PluginInfo-Name=org.kexi-project.migration
X-KDE-PluginInfo-Version=3.0
X-KDE-PluginInfo-Website=http://kexi-project.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Kexi-GroupName=
X-Kexi-TypeName=migration
X-Kexi-ServiceTypesInUserMode=
X-Kexi-VisibleInProjectNavigator=false
X-Kexi-SupportsDataExport=false
X-Kexi-SupportsPrinting=false
