[Desktop Entry]
Name=Migration
Name[ca]=Migració
Name[ca@valencia]=Migració
Name[cs]=Migrace
Name[de]=Migration
Name[el]=Μεταφορά
Name[en_GB]=Migration
Name[es]=Migración
Name[et]=Migreerimine
Name[fi]=Siirros
Name[fr]=Migration
Name[gl]=Migración
Name[ia]=Migration
Name[id]=Migrasi
Name[it]=Migrazione
Name[ko]=마이그레이션
Name[nl]=Migratie
Name[pl]=Przenoszenie
Name[pt]=Migração
Name[pt_BR]=Migration
Name[sk]=Migrácia
Name[sl]=Selitev
Name[sv]=Konvertering
Name[tr]=Göç
Name[uk]=Перенесення
Name[x-test]=xxMigrationxx
Name[zh_CN]=迁移
Comment=Kexi plugin for handling database migration
Comment[ca]=Connector del Kexi per a gestionar migracions de bases de dades
Comment[ca@valencia]=Connector de Kexi per a gestionar migracions de bases de dades
Comment[cs]=Modul Kexi pro provádění migrace databáze
Comment[de]=Kexi-Modul für die Migration von Datenbanken
Comment[el]=Πρόσθετο του Kexi για χειρισμό μεταφοράς βάσεων δεδομένων
Comment[en_GB]=Kexi plugin for handling database migration
Comment[es]=Complemento de Kexi para manejar la migración de bases de datos
Comment[et]=Kexi plugin andmebaaside migreerimise käitlemiseks
Comment[fi]=Tietokantasiirroksia käsittelevä Kexi-liitännäinen
Comment[fr]=Module complémentaire Kexi pour gérer la migration de base de données
Comment[gl]=Complemento para Kexi de manexo de migracións de base de datos.
Comment[ia]=Plugin de Kexi per manear migration de base de datos
Comment[id]=Plugin Kexi untuk menangani migrasi database
Comment[it]=Estensione di Kexi per gestire la migrazione della banca dati
Comment[ko]=데이터베이스 마이그레이션을 처리하는 Kexi 플러그인
Comment[nl]=Kexi-plug-in voor behandeling van migratie van een database
Comment[pl]=Wtyczka Kexi do obsługi przenoszenia baz danych
Comment[pt]='Plugin' do Kexi para lidar com tabelas
Comment[pt_BR]=Plugin do Kexi para gerenciar migração de banco de dados
Comment[sk]=Kexi plugin na spracovanie migrácie databáz
Comment[sl]=Vtičnik Kexi za upravljanje selitev podatkovnih baz
Comment[sv]=Kexi-insticksprogram för att hantera databaskonvertering
Comment[tr]=Veritabanı göçünü işlemek için Kexi eklentisi
Comment[uk]=Додаток до Kexi для перенесення баз даних
Comment[x-test]=xxKexi plugin for handling database migrationxx
Comment[zh_CN]=用于处理数据库迁移的 Kexi 插件
Type=Service
Icon=database-import

X-KDE-Library=kexi_migrationplugin
X-KDE-ServiceTypes=Kexi/Internal
X-KDE-PluginInfo-Author=Kexi Team
X-KDE-PluginInfo-Email=kexi@kde.org
X-KDE-PluginInfo-Name=org.kexi-project.migration
X-KDE-PluginInfo-Version=3.2
X-KDE-PluginInfo-Website=http://kexi-project.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Kexi-GroupName=
X-Kexi-TypeName=migration
X-Kexi-ServiceTypesInUserMode=
X-Kexi-VisibleInProjectNavigator=false
X-Kexi-SupportsDataExport=false
X-Kexi-SupportsPrinting=false
