[Desktop Entry]
GenericName=Scripts
GenericName[ca]=Scripts
GenericName[ca@valencia]=Scripts
GenericName[cs]=Skripty
GenericName[de]=Skripte
GenericName[el]=Σενάρια
GenericName[en_GB]=Scripts
GenericName[eo]=Skriptoj
GenericName[es]=Guiones
GenericName[et]=Skriptid
GenericName[eu]=Gidoiak
GenericName[fi]=Komentojonot
GenericName[fr]=Scripts
GenericName[gl]=Scripts
GenericName[ia]=Scripts
GenericName[id]=Skrip
GenericName[it]=Script
GenericName[ja]=スクリプト
GenericName[ka]=სკრიპტები
GenericName[ko]=스크립트
GenericName[nb]=Skripter
GenericName[nl]=Scripts
GenericName[pl]=Skrypty
GenericName[pt]=Programas
GenericName[pt_BR]=Scripts
GenericName[se]=Skriptat
GenericName[sk]=Skripty
GenericName[sl]=Skripti
GenericName[sv]=Skript
GenericName[tr]=Betikler
GenericName[uk]=Скрипти
GenericName[x-test]=xxScriptsxx
GenericName[zh_CN]=脚本

Name=Script
Name[ca]=Script
Name[ca@valencia]=Script
Name[cs]=Skript
Name[de]=Skript
Name[el]=Σενάριο
Name[en_GB]=Script
Name[eo]=Skripto
Name[es]=Guion
Name[et]=Skript
Name[eu]=Gidoia
Name[fi]=Komentojono
Name[fr]=Script
Name[gl]=Script
Name[ia]=Script
Name[id]=Skrip
Name[it]=Script
Name[ja]=スクリプト
Name[ka]=სკრიპტი
Name[ko]=스크립트
Name[nb]=Skript
Name[nl]=Script
Name[pl]=Skrypt
Name[pt]=Programa
Name[pt_BR]=Script
Name[sk]=Skript
Name[sl]=Skript
Name[sv]=Skript
Name[tr]=Betik
Name[uk]=Скрипт
Name[x-test]=xxScriptxx
Name[zh_CN]=脚本

Type=Service
Icon=script

X-KDE-Library=kexi_scriptplugin
X-KDE-ServiceTypes=Kexi/Editor
X-KDE-PluginInfo-Author=Kexi Team
X-KDE-PluginInfo-Email=kexi@kde.org
X-KDE-PluginInfo-Name=org.kexi-project.script
X-KDE-PluginInfo-Version=3.2
X-KDE-PluginInfo-Website=http://kexi-project.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Kexi-GroupName=Scripts
X-Kexi-TypeName=script
X-Kexi-ServiceTypesInUserMode=Kexi/Editor
X-Kexi-VisibleInProjectNavigator=true
X-Kexi-SupportsDataExport=false
X-Kexi-SupportsPrinting=false
X-Kexi-SupportsExecution=true

