[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Kexi/WidgetFactory
Comment=Widget Factory Base
Comment[ar]=قاعدة مصنع الودجات
Comment[ca]=Factoria base de ginys
Comment[ca@valencia]=Factoria base de ginys
Comment[de]=Basis für die Erstellung von Bedienelementen
Comment[el]=Βάση εργοστασίου γραφικών συστατικών
Comment[en_GB]=Widget Factory Base
Comment[eo]=Fenestraĵfabrika Bazo
Comment[es]=Fábrica base de elementos gráficos
Comment[et]=Vidinakogum
Comment[eu]=Trepeta lantegiko oinarria
Comment[fi]=Käyttöliittymäelementtien pohja
Comment[fr]=Base de création de composants graphiques
Comment[gl]=Fábrica base de trebellos
Comment[ia]=Base de fabbrica de widget
Comment[id]=Basis Factory Widget
Comment[it]=Fabbrica di oggetti
Comment[ja]=ウィジェットファクトリーベース
Comment[ka]=ვიჯეტების ნაგულისხმები ბაზა
Comment[ko]=위젯 팩토리 기반
Comment[nb]=Base for elementfabrikk
Comment[nl]=Widget Factory Base
Comment[pl]=Podstawowa fabryka widżetów
Comment[pt]=Fábrica de Elementos
Comment[pt_BR]=Fábrica de elementos
Comment[se]=Áhtafabrihka vuođđu
Comment[sk]=Základ pre vytváracie rozhranie prvkov
Comment[sl]=Osnova razvoja gradnikov
Comment[sv]=Bas för att skapa grafiska komponenter
Comment[tr]=Araç Takımı Fabrikası Temeli
Comment[uk]=База фабрики віджетів
Comment[zh_CN]=窗口部件工厂基础

[PropertyDef::X-KFormDesigner-FactoryGroup]
Type=QString

[PropertyDef::X-KFormDesigner-WidgetFactoryVersion]
Type=int

[PropertyDef::X-KFormDesigner-XMLGUIFileName]
Type=QString
