[Desktop Entry]
Name=CSV import/export
Name[ca]=Importació/exportació de CSV
Name[ca@valencia]=Importació/exportació de CSV
Name[cs]=Import/export CSV
Name[de]=CSV-Import/Export
Name[el]=CSV εισαγωγή/εξαγωγή
Name[en_GB]=CSV import/export
Name[eo]=CSV importo/eksporto
Name[es]=Importar/exportar CSV
Name[et]=CSV import/eksport
Name[eu]=CSV inportatzea/esportatzea
Name[fi]=CSV-tuonti/vienti
Name[fr]=Importation / exportation CSV
Name[gl]=Importar ou exportar CSV
Name[ia]=importation/exportation de CSV
Name[id]=Impor/ekspor CSV
Name[it]=Importazione/esportazione CSV
Name[ka]=CSV-ის შემოტანა/გატანა
Name[ko]=CSV 가져오기/내보내기
Name[nl]=CSV importeren/exporteren
Name[pl]=Importowanie/eksportowanie CSV
Name[pt]=Importação/exportação de CSV
Name[pt_BR]=Importação/exportação de CSV
Name[sk]=CSV import/export
Name[sl]=Uvoz/izvoz za CSV
Name[sv]=CSV-import/export
Name[tr]=CSV İçe/Dışa Aktar
Name[uk]=Імпортування і експортування CSV
Name[x-test]=xxCSV import/exportxx
Name[zh_CN]=CSV 导入/导出
Comment=Kexi Plugin for CSV data import/export
Comment[ca]=Connector del Kexi d'importació/exportació de CSV
Comment[ca@valencia]=Connector de Kexi d'importació/exportació de CSV
Comment[cs]=Modul Kexi pro import a export dat CSV
Comment[de]=Kexi-Modul für CSV-Daten-Import/Export
Comment[el]=Πρόσθετο του Kexi για εισαγωγή/εξαγωγή δεδομένων CSV
Comment[en_GB]=Kexi Plugin for CSV data import/export
Comment[eo]=Kexi-kromprogramo por CSV-datumimporto/eksporto
Comment[es]=Complemento de Kexi para importar y exportar datos CSV
Comment[et]=Kexi CSV-andmete impordi/ekspordi plugin
Comment[eu]=CSV datuak inportatzeko/esportatzeko «Kexi»rako plugina
Comment[fi]=Kexi-liitännäinen CSV-tietojen tuontiin ja vientiin
Comment[fr]=Module complémentaire Kexi pour l'importation / l'exportation de données CSV
Comment[gl]=Complemento para Kexi de importación e exportación de datos CSV.
Comment[ia]=Plugin de Kexi per importar/exportar datos de CSV
Comment[id]=Plugin Kexi untuk impor/ekspor data CSV
Comment[it]=Estensione di importazione ed esportazione di dati CSV di Kexi
Comment[ka]=Kexi -ის დამატება CSV მონაცემების შეტანა/გატანისთვის
Comment[ko]=CSV 데이터 가져오기/내보내기에 대한 Kexi 플러그인
Comment[nl]=Kexi-plug-in voor importeren/exporteren van CSV-gegevens
Comment[pl]=Wtyczka importu/eksportu danych CSV dla Kexi
Comment[pt]='Plugin' do Kexi para a importação/exportação de dados em CSV
Comment[pt_BR]=Plugin do Kexi para importação/exportação de dados CSV
Comment[sk]=Kexi Plugin na import/export CSV dát
Comment[sl]=Vtičnik Kexi za uvoz/izvoz v CSV
Comment[sv]=Kexi insticksprogram för import/export av CSV-data
Comment[tr]=CSV Verisi İçe/Dışa Aktarmak için Kexi Eklentisi
Comment[uk]=Додаток до Kexi для імпортування та експортування даних у форматі CSV
Comment[x-test]=xxKexi Plugin for CSV data import/exportxx
Comment[zh_CN]=用于 CSV 数据导入/导出的 Kexi 插件
Type=Service
Icon=document-import

X-KDE-Library=kexi_csvimportexportplugin
X-KDE-ServiceTypes=Kexi/Internal
X-KDE-PluginInfo-Author=Kexi Team
X-KDE-PluginInfo-Email=kexi@kde.org
X-KDE-PluginInfo-Name=org.kexi-project.importexport.csv
X-KDE-PluginInfo-Version=3.2
X-KDE-PluginInfo-Website=http://kexi-project.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Kexi-GroupName=
X-Kexi-TypeName=csvimportexport
X-Kexi-ServiceTypesInUserMode=
X-Kexi-VisibleInProjectNavigator=false
X-Kexi-SupportsDataExport=false
X-Kexi-SupportsPrinting=false
