[Desktop Entry]
Name=xBase
Name[ca]=xBase
Name[ca@valencia]=xBase
Name[cs]=xBase
Name[de]=xBase
Name[el]=xBase
Name[en_GB]=xBase
Name[es]=xBase
Name[et]=xBase
Name[fi]=xBase
Name[fr]=xBase
Name[gl]=xBase
Name[ia]=xBase
Name[id]=xBase
Name[it]=xBase
Name[ja]=xBase
Name[ko]=xBase
Name[nb]=xBase
Name[nl]=xBase
Name[pl]=xBase
Name[pt]=xBase
Name[pt_BR]=xBase
Name[ru]=xBase
Name[sk]=xBase
Name[sl]=xBase
Name[sv]=xBase
Name[uk]=xBase
Name[x-test]=xxxBasexx
Name[zh_CN]=xBase
Comment=xBase Import Plugin for Kexi
Comment[ca]=Connector d'importació xBase per al Kexi
Comment[ca@valencia]=Connector d'importació xBase per al Kexi
Comment[de]=xBase-Importmodul für Kexi
Comment[el]=Πρόσθετο εισαγωγής xBase για το Kexi
Comment[en_GB]=xBase Import Plugin for Kexi
Comment[es]=Complemento de importación de xBase de Kexi
Comment[et]=Kexi xBase'i impordi plugin
Comment[fi]=xBase-tuontiliitännäinen Kexille
Comment[fr]=Module d'importation xBase pour Kexi
Comment[gl]=Complemento para Kexi de importación de xBase.
Comment[ia]=Plugin de importation de xbase per Kexi
Comment[id]=Plugin Impor xBase untuk Kexi
Comment[it]=Estensione di importazione xBase per Kexi
Comment[ja]=Kexi のための xBase インポートプラグイン
Comment[ko]=Kexi용 xBase 가져오기 플러그인
Comment[nb]=xBase import-programtillegg for Kexi
Comment[nl]=xBase-importplugin voor Kexi
Comment[pl]=Wtyczka importu xBase dla Kexi
Comment[pt]='Plugin' de Importação de xBase para o Kexi
Comment[pt_BR]=Plugin de Importação do xBase para o Kexi
Comment[sk]=xBase importný plugin pre Kexi
Comment[sl]=Vtičnik uvoza xBase v Kexi
Comment[sv]=xBase importinsticksprogram för Kexi
Comment[uk]=Додаток імпортування даних з xBase для Kexi
Comment[x-test]=xxxBase Import Plugin for Kexixx
Comment[zh_CN]=用于 Kexi 的 xBase 导入插件
X-KDE-Library=keximigrate_xbase
X-KDE-ServiceTypes=Kexi/MigrationDriver
Type=Service
InitialPreference=8
X-Kexi-MigrationDriverName=xBase
X-Kexi-MigrationDriverType=Network
X-Kexi-KexiMigrationVersion=1.1
