[Desktop Entry]
Name=Table
Name[ca]=Taula
Name[ca@valencia]=Taula
Name[cs]=Tabulka
Name[de]=Tabelle
Name[en_GB]=Table
Name[es]=Tabla
Name[et]=Tabel
Name[fi]=Taulu
Name[fr]=Tableau
Name[gl]=Táboa
Name[ia]=Tabula
Name[id]=Tabel
Name[it]=Tabella
Name[ja]=テーブル
Name[ko]=테이블
Name[nb]=Tabell
Name[nl]=Tabel
Name[pl]=Tabela
Name[pt]=Tabela
Name[pt_BR]=Tabela
Name[sk]=Tabuľka
Name[sl]=Tabela
Name[sv]=Tabell
Name[uk]=Таблиця
Name[x-test]=xxTablexx
Name[zh_CN]=表
Comment=Kexi plugin for handling tables
Comment[ca]=Connector del Kexi per a gestionar taules
Comment[ca@valencia]=Connector del Kexi per gestionar taules
Comment[cs]=Modul Kexi pro práci s tabulkami
Comment[de]=Kexi-Modul für die Bearbeitung von Tabellen
Comment[en_GB]=Kexi plugin for handling tables
Comment[es]=Complemento de Kexi para manejar tablas
Comment[et]=Kexi plugin tabelite käitlemiseks
Comment[fi]=Kexi-liitännäinen taulujen käsittelyyn
Comment[fr]=Module complémentaire Kexi pour gérer les tables
Comment[gl]=Complemento para Kexi de manexo de táboas.
Comment[id]=Plugin Kexi untuk menangani tabel
Comment[it]=Estensione per gestire le tabelle di Kexi
Comment[ko]=테이블을 처리하는 Kexi 플러그인
Comment[nl]=Kexi-plug-in voor behandeling van tabellen
Comment[pl]=Wtyczka Kexi do obsługi tabel
Comment[pt]='Plugin' do Kexi para lidar com tabelas
Comment[pt_BR]=Plugin do Kexi para trabalhar com tabelas
Comment[sk]=Kexi plugin na spracovanie tabuliek
Comment[sl]=Vtičnik Kexi za obdelavo tabel
Comment[sv]=Kexi-insticksprogram för att hantera tabeller
Comment[uk]=Додаток до Kexi для обробки таблиць
Comment[x-test]=xxKexi plugin for handling tablesxx
Comment[zh_CN]=用于处理表格的 Kexi 插件
Type=Service
Icon=table

X-KDE-Library=kexi_tableplugin
X-KDE-ServiceTypes=Kexi/Viewer,Kexi/Designer
X-KDE-PluginInfo-Author=KEXI Team
X-KDE-PluginInfo-Email=kexi@kde.org
X-KDE-PluginInfo-Name=org.kexi-project.table
X-KDE-PluginInfo-Version=3.3
X-KDE-PluginInfo-Website=http://kexi-project.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Kexi-GroupName=Tables
X-Kexi-TypeName=table
X-Kexi-ServiceTypesInUserMode=Kexi/Viewer
X-Kexi-VisibleInProjectNavigator=true
X-Kexi-SupportsDataExport=true
X-Kexi-SupportsPrinting=true
