[Desktop Entry]
Name=Spreadsheet
Name[ca]=Full de càlcul
Name[ca@valencia]=Full de càlcul
Name[cs]=Sešit
Name[de]=Tabellenkalkulation
Name[el]=Φύλλο εργασίας
Name[en_GB]=Spreadsheet
Name[es]=Hoja de cálculo
Name[fi]=Laskentataulukko
Name[fr]=Tableur
Name[gl]=Folla de cálculo
Name[ia]=Folio de calculo electronic
Name[id]=Lembar-Sebar
Name[it]=Foglio di calcolo
Name[ja]=表計算
Name[ko]=스프레드시트
Name[nb]=Regneark
Name[nl]=Rekenblad
Name[pl]=Arkusz kalkulacyjny
Name[pt]=Folha de cálculo
Name[pt_BR]=Planilha
Name[sk]=Tabuľkový procesor
Name[sv]=Kalkylark
Name[uk]=Електронні таблиці
Name[x-test]=xxSpreadsheetxx
Name[zh_CN]=数据表
Comment=Spreadsheet Import Plugin for Kexi
Comment[ca]=Connector d'importació de fulls de dades per al Kexi
Comment[ca@valencia]=Connector d'importació de fulls de dades per al Kexi
Comment[de]=Tabellenkalkulation-Importmodul für Kexi
Comment[el]=Πρόσθετο εισαγωγής φύλλου εργασίας για το Kexi
Comment[en_GB]=Spreadsheet Import Plugin for Kexi
Comment[es]=Complemento de importación de hojas de cálculo para Kexi
Comment[fi]=Laskentataulukon tuontiliitännäinen Kexiin
Comment[fr]=Module d'importation de tableur pour Kexi
Comment[gl]=Complemento para Kexi de importación de follas de cálculo.
Comment[id]=Plugin Impor Lembar Sebar untuk Kexi
Comment[it]=Estensione di importazione foglio elettronico di Kexi
Comment[ja]=Kexi のためのスプレッドシートインポートプラグイン
Comment[ko]=Kexi용 스프레드시트 가져오기 플러그인
Comment[nb]=Regneark import-programtillegg for Kexi
Comment[nl]=Import-plug-in van rekenblad voor Kexi
Comment[pl]=Wtyczka importu arkusza kalkulacyjnego dla Kexi
Comment[pt]='Plugin' de Importação de Folhas de Cálculo para o Kexi
Comment[pt_BR]=Plugin de importação de planilha para o Kexi
Comment[sk]=Importný plugin zošita pre Kexi
Comment[sv]=Importinsticksprogram av kalkylark för Kexi
Comment[uk]=Додаток імпортування даних з електронної таблиці для Kexi
Comment[x-test]=xxSpreadsheet Import Plugin for Kexixx
Comment[zh_CN]=用于 Kexi 的工作表导入插件
X-KDE-Library=keximigrate_spreadsheet
X-KDE-ServiceTypes=Kexi/MigrationDriver
Type=Service
InitialPreference=8
X-Kexi-MigrationDriverName=Spreadsheet
X-Kexi-MigrationDriverType=File
X-Kexi-FileDBDriverMime=application/vnd.oasis.opendocument.spreadsheet
X-Kexi-KexiMigrationVersion=1.1
