[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Kexi/Handler
Comment=Kexi Project Handlers
Comment[ca]=Gestors de projectes del Kexi
Comment[ca@valencia]=Gestors de projectes del Kexi
Comment[cs]=Ovladač projektů Kexi
Comment[de]=Kexi-Projektverwaltung
Comment[en_GB]=Kexi Project Handlers
Comment[es]=Controladores de proyecto de Kexi
Comment[et]=Kexi projekti käitlejad
Comment[fi]=Kexin projektikäsittelijät
Comment[fr]=Gestionnaires de projet Kexi
Comment[gl]=Xestores de proxectos de Kexi
Comment[id]=Penanganan Projek Kexi
Comment[it]=Gestione progetto di Kexi
Comment[ja]=Kexi プロジェクトハンドラ
Comment[ko]=Kexi 프로젝트 처리기
Comment[nb]=Kexi prosjektbehandlere
Comment[nl]=Kexi projectbehandelaars
Comment[pl]=Pliki obsługi projektu Kexi
Comment[pt]=Gestores de Projectos do Kexi
Comment[pt_BR]=Gerenciadores de projetos do Kexi
Comment[se]=Kexi-prošeaktagieđaheaddjit
Comment[sk]=Spracovanie projektov Kexi
Comment[sv]=Kexi-projektfil
Comment[uk]=Обробники проєкту Kexi
Comment[zh_CN]=Kexi 项目处理器

[PropertyDef::X-Kexi-PartVersion]
Type=int

[PropertyDef::X-Kexi-TypeName]
Type=QString

[PropertyDef::X-Kexi-Class]
Type=QString

[PropertyDef::X-Kexi-ItemIcon]
Type=QString

[PropertyDef::X-Kexi-NoObject]
Type=bool

[PropertyDef::X-Kexi-SupportsDataView]
Type=bool

[PropertyDef::X-Kexi-SupportsDesignView]
Type=bool

[PropertyDef::X-Kexi-SupportsTextView]
Type=bool

[PropertyDef::X-Kexi-SupportsDataViewInUserMode]
Type=bool

[PropertyDef::X-Kexi-SupportsDesignViewInUserMode]
Type=bool

[PropertyDef::X-Kexi-SupportsTextViewInUserMode]
Type=bool

[PropertyDef::X-Kexi-SupportsExecution]
Type=bool

[PropertyDef::X-Kexi-SupportsDataExport]
Type=bool

[PropertyDef::X-Kexi-SupportsPrinting]
Type=bool

[PropertyDef::X-Kexi-PropertyEditorAlwaysVisibleInDesignMode]
Type=bool
