[Desktop Entry]
Name=Query
Name[ca]=Consulta
Name[ca@valencia]=Consulta
Name[fi]=Kysely
Name[fr]=Requête
Name[nl]=Query
Name[pl]=Zapytanie
Name[pt]=Procura
Name[sk]=Otázka
Name[uk]=Запит
Name[x-test]=xxQueryxx
Comment=Kexi plugin for handling queries
Comment[ca]=Connector del Kexi per gestionar consultes
Comment[ca@valencia]=Connector del Kexi per gestionar consultes
Comment[nl]=Kexi-plug-in voor behandeling van queries
Comment[pl]=Wtyczka Kexi do obsługi zapytań
Comment[pt]='Plugin' do Kexi para lidar com pesquisas
Comment[uk]=Додаток до Kexi для обробки запитів
Comment[x-test]=xxKexi plugin for handling queriesxx
Type=Service
Icon=query
Encoding=UTF-8

X-KDE-Library=kexi_queryplugin
X-KDE-ServiceTypes=Kexi/Viewer,Kexi/Designer,Kexi/Editor
X-KDE-PluginInfo-Author=Kexi Team
X-KDE-PluginInfo-Email=kexi@kde.org
X-KDE-PluginInfo-Name=org.kexi-project.query
X-KDE-PluginInfo-Version=3.0
X-KDE-PluginInfo-Website=http://kexi-project.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Kexi-GroupName=Queries
X-Kexi-TypeName=query
X-Kexi-ServiceTypesInUserMode=Kexi/Viewer
X-Kexi-VisibleInProjectNavigator=true
X-Kexi-SupportsDataExport=true
X-Kexi-SupportsPrinting=true
