[Desktop Entry]
Name=Query
Name[ca]=Consulta
Name[ca@valencia]=Consulta
Name[cs]=Dotaz
Name[de]=Abfrage
Name[el]=Ερώτηση
Name[en_GB]=Query
Name[es]=Consulta
Name[et]=Päring
Name[fi]=Kysely
Name[fr]=Requête
Name[gl]=Consulta
Name[ia]=Requesta
Name[id]=Queri
Name[it]=Interrogazione
Name[ja]=クエリ
Name[ka]=მოთხოვნა
Name[ko]=질의
Name[nb]=Spørring
Name[nl]=Query
Name[pl]=Zapytanie
Name[pt]=Procura
Name[pt_BR]=Consulta
Name[sk]=Otázka
Name[sl]=Poizvedba
Name[sv]=Fråga
Name[tr]=Sorgu
Name[uk]=Запит
Name[x-test]=xxQueryxx
Name[zh_CN]=查询
Comment=Kexi plugin for handling queries
Comment[ca]=Connector del Kexi per a gestionar consultes
Comment[ca@valencia]=Connector de Kexi per a gestionar consultes
Comment[cs]=Modul Kexi pro provádění dotazů
Comment[de]=Kexi-Modul für die Bearbeitung von Abfragen
Comment[el]=Πρόσθετο του Kexi για χειρισμό ερωτήσεων
Comment[en_GB]=Kexi plugin for handling queries
Comment[es]=Complemento de Kexi para manejar consultas
Comment[et]=Kexi plugin päringute käitlemiseks
Comment[fi]=Kexi-liitännäinen kyselyiden käsittelyyn
Comment[fr]=Module complémentaire Kexi pour gérer les requêtes
Comment[gl]=Complemento para Kexi de manexo de consultas.
Comment[ia]=Plugin de Kexi per manear queries
Comment[id]=Plugin Kexi untuk menangani queri
Comment[it]=Estensione per gestire le query di Kexi
Comment[ko]=질의를 처리하는 Kexi 플러그인
Comment[nl]=Kexi-plug-in voor behandeling van queries
Comment[pl]=Wtyczka Kexi do obsługi zapytań
Comment[pt]='Plugin' do Kexi para lidar com pesquisas
Comment[pt_BR]=Plugin do Kexi para lidar com consultas
Comment[sk]=Kexi plugin na spracovanie dotazov
Comment[sl]=Vtičnik Kexi za obdelavo poizvedb
Comment[sv]=Kexi-insticksprogram för att hantera förfrågningar
Comment[tr]=Sorguları işlemek için Kexi eklentisi
Comment[uk]=Додаток до Kexi для обробки запитів
Comment[x-test]=xxKexi plugin for handling queriesxx
Comment[zh_CN]=用于处理查询的 Kexi 插件
Type=Service
Icon=query

X-KDE-Library=kexi_queryplugin
X-KDE-ServiceTypes=Kexi/Viewer,Kexi/Designer,Kexi/Editor
X-KDE-PluginInfo-Author=Kexi Team
X-KDE-PluginInfo-Email=kexi@kde.org
X-KDE-PluginInfo-Name=org.kexi-project.query
X-KDE-PluginInfo-Version=3.2
X-KDE-PluginInfo-Website=http://kexi-project.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Kexi-GroupName=Queries
X-Kexi-TypeName=query
X-Kexi-ServiceTypesInUserMode=Kexi/Viewer
X-Kexi-VisibleInProjectNavigator=true
X-Kexi-SupportsDataExport=true
X-Kexi-SupportsPrinting=true
