[Desktop Entry]
Name=Map Widget
Name[ca]=Estris de mapes
Name[ca@valencia]=Estris de mapes
Name[de]=Karten-Bedienelement
Name[el]=Γραφικό συστατικό για χάρτες
Name[en_GB]=Map Widget
Name[es]=Elemento gráfico de mapas
Name[et]=Kaardividin
Name[fi]=Karttaelementti
Name[fr]=Composant graphique carte
Name[gl]=Trebello de mapa
Name[ia]=Widget de mappa
Name[id]=Widget Peta
Name[it]=Oggetto mappa
Name[ko]=지도 위젯
Name[nl]=Kaartwidget
Name[pl]=Element interfejsu mapy
Name[pt]=Elemento de Mapa
Name[pt_BR]=Elemento de mapa
Name[sk]=Widget Mapa
Name[sv]=Kartkomponenter
Name[uk]=Віджет карти
Name[x-test]=xxMap Widgetxx
Name[zh_CN]=地图部件
Comment=Kexi plugin providing map browser form widget
Comment[ca]=Connector del Kexi que proporciona estris de formularis de navegació de mapes
Comment[ca@valencia]=Connector del Kexi que proporciona estris de formularis de navegació de mapes
Comment[de]=Kexi-Modul, das ein Karten-Bedienelement bereitstellt
Comment[el]=Πρόσθετο του Kexi που παρέχει γραφικό συστατικό φόρμας περιήγησης σε χάρτη
Comment[en_GB]=Kexi plugin providing map browser form widget
Comment[es]=Complemento de Kexi que proporciona un elemento gráfico de exploración de mapas para los formularios
Comment[et]=Kexi plugin kaardi sirvimise vormividina jaoks
Comment[fi]=Kexi-liitännäinen, joka tarjoaa karttaselaimen lomake-elementin
Comment[fr]=Module complémentaire Kexi fournissant un composant graphique de formulaire pour la navigation de carte
Comment[gl]=Complemento para Kexi que fornece un trebello de navegador de mapa para formularios.
Comment[ia]=plugin que forni un widget de formatos de navigator de mappa
Comment[id]=Plugin Kexi menyediakan widget formulir penelusur peta
Comment[it]=Estensione che fornisce un oggetto del modulo di navigazione mappe di Kexi
Comment[ko]=지도 브라우저 양식 위젯을 제공하는 Kexi 플러그인
Comment[nl]=Kexi-plug-in levert formulierwidget voor kaartenbrowser
Comment[pl]=Wtyczka Kexi dostarczająca formularze przeglądania map
Comment[pt]='Plugin' do Kexi que oferece um elemento gráfico de formulários de navegação em mapas
Comment[pt_BR]=Plugin do Kexi que oferece um elemento gráfico de formulários de navegação em mapas
Comment[sk]=Kexi plugin poskytujúci prehliadač máp z widgetu
Comment[sv]=Kexi-insticksprogram som tillhandahåller formulärkomponent med kartbläddrare
Comment[uk]=Додаток до Kexi, що забезпечує роботу форми навігатора картою
Comment[x-test]=xxKexi plugin providing map browser form widgetxx
Comment[zh_CN]=Kexi Web 浏览器地图小部件插件
Type=Service
Icon=form
Encoding=UTF-8

X-KDE-Library=kexiforms_mapwidgetplugin
X-KDE-ServiceTypes=Kexi/FormWidgets
X-KDE-PluginInfo-Author=Kexi Team
X-KDE-PluginInfo-Email=kexi@kde.org
X-KDE-PluginInfo-Name=org.kexi-project.form.widgets.map
X-KDE-PluginInfo-Version=3.2
X-KDE-PluginInfo-Website=http://kexi-project.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Kexi-FormWidgetsFactoryGroup=
