[Desktop Entry]
Name=Kexi
Name[ca]=Kexi
Name[ca@valencia]=Kexi
Name[cs]=Kexi
Name[de]=Kexi
Name[el]=Kexi
Name[en_GB]=Kexi
Name[es]=Kexi
Name[et]=Kexi
Name[fi]=Kexi
Name[fr]=Kexi
Name[gl]=Kexi
Name[ia]=Kexi
Name[id]=Kexi
Name[it]=Kexi
Name[ja]=Kexi
Name[ko]=Kexi
Name[nb]=Kexi
Name[nl]=Kexi
Name[pl]=Kexi
Name[pt]=Kexi
Name[pt_BR]=Kexi
Name[ru]=Kexi
Name[se]=Kexi
Name[sk]=Kexi
Name[sl]=Kexi
Name[sv]=Kexi
Name[tr]=Kexi
Name[uk]=Kexi
Name[x-test]=xxKexixx
Name[zh_CN]=Kexi
Type=Application
Exec=kexi-3.3 %f
Icon=kexi
MimeType=application/x-kexiproject-sqlite;application/x-kexiproject-shortcut;application/x-kexiproject-sqlite3;application/x-sqlite3;application/x-kexi-connectiondata;text/csv;text/tab-separated-values;application/vnd.oasis.opendocument.spreadsheet;application/vnd.oasis.opendocument.text;application/x-msaccess;application/vnd.oasis.opendocument.database;
Terminal=false
GenericName=Visual database apps builder
GenericName[ca]=Constructor visual d'aplicacions de bases de dades
GenericName[ca@valencia]=Constructor visual d'aplicacions de bases de dades
GenericName[de]=Visuelle Erstellung von Datenbankanwendungen
GenericName[el]=Πρόγραμμα κατασκευής εφαρμογών με οπτική βάση δεδομένων
GenericName[en_GB]=Visual database apps builder
GenericName[es]=Constructor visual de aplicaciones de bases de datos
GenericName[et]=Visuaalne andmebaasirakenduste looja
GenericName[fi]=Visuaalinen tietokantasovellusten luonti
GenericName[fr]=Constructeur d'applications de bases de données visuel
GenericName[gl]=Construtor visual de aplicativos de base de datos
GenericName[ia]=Constructor visual de apps per base de datos
GenericName[id]=Pembangun apps database visual
GenericName[it]=Generatore visuale di applicazioni di banche dati
GenericName[ko]=비주얼 데이터베이스 앱 빌더
GenericName[nl]=Visuele database van bouwer van apps
GenericName[pl]=Tworzenie wizualnych aplikacji baz danych
GenericName[pt]=Construtor visual de aplicações de bases de dados
GenericName[pt_BR]=Construtor visual de aplicativos de banco de dados
GenericName[sk]=Vizuálny tvorca databázových aplikácií
GenericName[sl]=Izdelovalnik vizualnih aplikacij za baze podatkov
GenericName[sv]=Visuellt byggverktyg för databasprogram
GenericName[tr]=Görsel veritabanı uygulamaları yapıcısı
GenericName[uk]=Програма для побудови візуальних обробників баз даних
GenericName[x-test]=xxVisual database apps builderxx
GenericName[zh_CN]=可视化数据库应用程序构建工具
Comment=Visually develop database applications
Comment[ca]=Desenvolupament visual d'aplicacions de bases de dades
Comment[ca@valencia]=Desenvolupament visual d'aplicacions de bases de dades
Comment[cs]=Vyvíjejte vizuálně databázové aplikace
Comment[de]=Visuelle Entwicklung von Datenbankanwendungen
Comment[el]=Οπτική ανάπτυξη εφαρμογών βάσεων δεδομένων
Comment[en_GB]=Visually develop database applications
Comment[es]=Desarrollo visual de aplicaciones de bases de datos
Comment[et]=Andmebaasirakenduste visuaalne kujundamine
Comment[fi]=Kehitä tietokantasovelluksia visuaalisesti
Comment[fr]=Développer visuellement des applications de bases de données
Comment[gl]=Desenvolva visualmente aplicacións de base de datos
Comment[ia]=Disveloppa visualmente applicationes de base de  datos
Comment[id]=Aplikasi database develop secara visual
Comment[it]=Sviluppa applicazioni per banche dati in modo visuale
Comment[ko]=데이터베이스 애플리케이션을 시각적으로 개발
Comment[nl]=Databasetoepassingen visueel ontwerpen
Comment[pl]=Twórz wizualne aplikacje bazodanowe
Comment[pt]=Desenvolver de forma visual aplicações de bases de dados
Comment[pt_BR]=Desenvolve aplicativos visuais de bancos de dados
Comment[sk]=Vizuálny vývoj databázových aplikácií
Comment[sl]=Vizualno razvijajte aplikacije za baze podatkov
Comment[sv]=Utveckla databasprogram visuellt för skrivbordet
Comment[tr]=Veritabanı uygulamaları görsel bir biçimde tasarlayın
Comment[uk]=Візуальна розробка програм для роботи із базами даних
Comment[x-test]=xxVisually develop database applicationsxx
Comment[zh_CN]=在可视化设计环境下开发数据库应用程序
X-DocPath=kexi-3.3/index.html
X-KDE-NativeMimeType=application/x-kexiproject-sqlite
Categories=Qt;KDE;Office;Database;
