[Desktop Entry]
Name=Sybase
Name[ca]=Sybase
Name[ca@valencia]=Sybase
Name[de]=Sybase
Name[es]=Sybase
Name[fi]=Sybase
Name[fr]=Sybase
Name[gl]=Sybase
Name[it]=Sybase
Name[nb]=Sybase
Name[nl]=Sybase
Name[pl]=Sybase
Name[pt]=Sybase
Name[pt_BR]=Sybase
Name[sk]=Sybase
Name[sv]=Sybase
Name[uk]=Sybase
Name[x-test]=xxSybasexx
Comment=Sybase Import Plugin for Kexi
Comment[ca]=Connector d'importació de Sybase per al Kexi
Comment[ca@valencia]=Connector d'importació de Sybase per al Kexi
Comment[de]=Sybase-Importmodul für Kexi
Comment[es]=Complemento de importación de Sybase de Kexi
Comment[fi]=Sybase-tuontiliitännäinen Kexille
Comment[fr]=Module d'importation Sybase pour Kexi
Comment[gl]=Complemento para Kexi de importación de Sybase.
Comment[it]=Estensione di importazione Sybase per Kexi
Comment[nb]=Sybase import-programtillegg for Kexi
Comment[nl]=Sybase-importplugin voor Kexi
Comment[pl]=Wtyczka importu Sybase dla Kexi
Comment[pt]='Plugin' de Importação de Sybase para o Kexi
Comment[pt_BR]=Plugin de Importação do Sybase para o Kexi
Comment[sk]=Sybase importný plugin pre Kexi
Comment[sv]=Sybase importinsticksprogram för Kexi
Comment[uk]=Додаток імпортування даних з Sybase для Kexi
Comment[x-test]=xxSybase Import Plugin for Kexixx
X-KDE-Library=keximigrate_sybase
X-KDE-ServiceTypes=Kexi/MigrationDriver
Type=Service
InitialPreference=8
X-Kexi-MigrationDriverName=Sybase
X-Kexi-MigrationDriverType=Network
X-Kexi-KexiMigrationVersion=1.1
